.comment {
  padding: 4px 10px;
  color: #333;
  border: 2px solid #aaa;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 25px;
  background-color: #aaa;
  font-size: 10px
}

p.time {
  font-size: 10px;  
}
